@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html {
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
}
.navbar img {
  width: 5rem;
  height: 5rem;
  cursor: not-allowed;
}
.wrap {
  display: flex;
  align-items: center;
}
.navbar .comp_name {
  font-size: 1.6rem;
  font-weight: 600;
}
.navbar nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 25px;
}
.navbar nav ul .link{
  margin-right: 1rem;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: rgb(110, 109, 109);
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 100;
}
.navbar nav ul .link:hover {
  background: rgba(240, 245, 253, 0.587);
  color: rgb(50, 22, 255);
  border-radius: 5px;
  width: fit-content;
}
.navbar nav ul .active{
  color: rgb(50, 22, 255);
}
/* ----------------------------------Header Section------------------------------------- */
.nav {
  text-align: center;
  font-size: 3rem;
  margin-top: 15%;
}
.home {
  font-size: 1.2rem;
  font-weight: 450;
  margin-top: 15%;
  margin-left: 10%;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2.2rem;
  background: rgb(18, 0, 158);
  color: #fff;
}
/* ----------------------------------Home Section------------------------------------- */
.big_header {
  font-size: 4.6rem;
  font-weight: 700;
}
.big_header span {
  color: rgb(89, 63, 233);
  font-size: 5.6rem;
}
.apply_button {
  margin-left: 2.5rem;
  margin-top: 2rem;
}
.apply_button button {
  width: fit-content;
  background: rgb(89, 63, 233);
  color: #fff;
  border: 0;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 15px;
}
.apply_button button:hover {
  background: rgb(73, 50, 204);
  cursor: pointer;
}
/* ----------------------------------Teams Section------------------------------------- */
.team_item {
  display: grid;
  text-align: center;
  padding-top: 0.5rem;
}
.team_item h3 {
  margin-top: -3rem;
  margin-bottom: 3.5rem;
  font-size: 1.2rem;
}
.professional_people {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 6rem;
}
.professional_people h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(143, 56, 243);
}
.professional_people h1 {
  font-size: 2.5rem;
  font-weight: 450;
  margin-top: -1rem;
}
.vertical-line {
  width: 2px;
  height: 110px;
  margin-left: 7%;
  margin-right: 5%;
  background-color: rgb(178, 126, 250);
}
.professional_people h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(92, 92, 93);
  display: flex;
  flex-wrap: wrap;
}
.team_img {
  display: flex;
  flex-direction: column;
}
.tm_img {
  text-align: center;
}
.tm_img img {
  width: 16rem;
  height: 20rem;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgb(184, 184, 184);
  cursor: pointer;
}
.tm_img img:hover {
  transform: rotate3d(0, 1, 0, 360deg);
  transition: .5s;
}
.tm_img h2 {
  margin-top: -0.3rem;
  color: #000;
}
.tm_img h2 span {
  color: rgb(50, 22, 255)
}
.tm_img p {
  align-items: center;
  font-size: 1rem;
  margin-top: -1.3rem;
}